.hero.ips{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.tab__nav-list li{
  text-align: initial;
  line-height: var(--spacing-medium);
  color: var(--text-ligh-blue);
  align-items: center;
}

.js-section-paragraph{
  line-height: 1.5rem;
  color: var(--text-ligh-blue);
}
