
.main{
  overflow: hidden;
}


.hero{
  position: relative;
}


.swiper-slide{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-block: 4rem 1rem;
  padding-inline: 1.3rem;
  
}

.swiper-slide-1, .swiper-slide-2, .swiper-slide-4{
  background-color: var(--background-slide-main);
  
}

.swiper-slide-3{
  background-color: var(--background-slide-second);
}

.swiper {
  width: 100%;
  height: 630px;
}

.swiper-slide > h1 {
  width: 90%;
  margin-bottom: 20px;
  font-size: var(--font-heading);
  color: var(--primary-color);
  font-weight: var(--font-bold);
}

.swiper-slide > p{
  width: 95%;
  margin-bottom: 10px;
  font-size: var(--font-small);
  margin-bottom: 20px;
  line-height: var(--spacing-medium);
  color: var(--primary-color);
  
}

.swiper-slide > a{
  background: var(--button-bg);
  margin-bottom: 20px;
}


.scrollup{
  position: fixed;
  right: 1rem;
  bottom: 3rem;
 
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  width: 50px;
}


.appliances{
  background: var(--background-section);
}

.button--section{
  background: var(--button-bg2);
  column-gap: 20px;
  
}

.section__content > img{
  width: 100%;
  height: 300px;
  justify-content: cover;
}


.reviews{
  background: var(--background-section-second);
}

.quotes{
  text-align: initial;
}

.ri-double-quotes-l{
  font-size: 4rem;
  color: 	hsl(230, 61%, 22%, 0.5);
  
}

.review__content > h3{
  text-align: initial;
  font-size: var(--font-heading);
  font-weight: var(--font-extrabold);
  color: var(--text-dark-blue);
  margin-bottom: 20px;
  line-height: 1.5;
}

.review__content > p{
  color: var(--text-dark-blue);
  font-weight: var(--font-bold);
  text-align: initial;
}

.contact{
  background: var(--background-section);
}

.contact__content > h2,p,form,button{
  text-align: initial;
}

.contact__content > p {
  font-size: 1rem;
  color: var(--text-light-gray); 
  margin-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.contact-form > input,textarea{
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 20px;
  font-size: var(--font-base);
  font-weight: var(--font-bold);
}

::placeholder {
  color: var(--text-light-gray); 
  font-weight: var(--font-bold);
  font-family: var(--font-primary);
}

.footer{
  background: var(--background-dark-blue);
  margin-block: .1rem .1rem;
}

.footer__content{
  row-gap: 3rem;
}

.footer__content > p{
  color: var(--white-color);
}

.footer-nav-link{
  color: var(--white-color);
  font-weight: var(--font-light);
  text-align: initial;
}

.footer__info-contact{
  display: flex;
  flex-direction: column;
  row-gap:30px;
}

.info__contact > i {
  color: #18E4A1;
  font-size: var(--font-title);
}

.info__contact{
  display: flex;
  column-gap: 8px;
}

.footer__icons{
  display: flex;
  column-gap: 30px;
}


.footer__nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__nav__list > li{
  color: var(--white-color);
  font-weight: var(--font-base);
  text-align: initial;
}

.footer__rights{
  font-size: 0.7rem;
  color: var(--white-color);
  font-weight: 100;
  text-align: center;
}